* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header {
    padding: 16px 0;
    margin-bottom: 30px;
    background-color: blueviolet;
    color: white;
}

header .container, section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

header nav li {
    display: inline;
}

header nav li a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size:large;
}

.logo {
    width: 40%;
}

section .container {
    align-items: flex-start;
}

section .container h2 {
    padding-bottom: 20px;
    border-bottom: 5px solid blueviolet;
    color: blueviolet;
}

section .container-sobre h2 {
    margin: 0 20px;
}

section .container-sobre p {
    margin: 20px 20px;
}

#products {
    margin-top: 40px;
}

.produto {
    width: 200px;
    padding-top: 30px;
}

ul {
    list-style: none;
    display: flex;
}

button {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
    padding: 10px 22.5px;
    cursor: pointer;
    border-radius: 6px;
    display: block;
}

.container-flex {
    align-items: baseline;
}