* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header {
    padding: 16px 0;
    margin-bottom: 30px;
    background-color: blueviolet;
    color: white;
}

header .container, section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

header nav li {
    display: inline;
}

header nav li a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size:large;
}

.logo {
    width: 40%;
}

section .container {
    align-items: flex-start;
}

section .container h2 {
    padding-bottom: 19px;
    border-bottom: 3px solid blueviolet;
    color: blueviolet;
}

section .container-sobre h2 {
    margin: 0 0 0 20px;
}

section .container-sobre p {
    margin: 20px 20px;
}

#products {
    margin-top: 40px;
}

.produto {
    width: 200px;
    padding-top: 30px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
    padding: 10px 22.5px;
    cursor: pointer;
    border-radius: 6px;
    display: block;
}

.container-flex li {
    width: 19.5%;
    text-align: center;
}

h3 {
    font-size: larger;
}

body {
    overflow-x: hidden;
}

/*.container-flex {
    align-items: baseline;
}*/

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .conteudo {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    section .container {
        display: inline;
    }

    header {
        width: 50%;
    }

    nav {
        padding-right: 40px;
    }

    .logo, header {
        padding: 15px 0 15px 40px;
    }

    .logo {
        margin-bottom: 30px;
        width: 90%;
    }

    #about p {
        width: 82.5%;
        padding-left: 20px;
    }

    .container-sobre {
        width: 60%;
    }

    section .container-sobre h2 {
        margin-left: 40px;
    }

    h2 {
        width: 80%;
    }

    #products {
        margin-top: -80px;
        margin-left: 50px;
    }

    .produto {
        width: 125px;
        padding-top: 30px;
        
    }

    #products ul {
        display: grid;
        grid-template-columns: 0.75fr 1fr;
    }

    .container-flex li {
        width: 90%;
    }

    button {
        padding: 10px 5px;
        margin: 0 auto;
    }

    #products p, h3 {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 640px) {
    .conteudo {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .produto {
        width: 150px;
    }

    section .container {
        display: inline;
    }

    header {
        width: 33%;
    }

    .logo {
        margin-bottom: 30px;
        width: 200px;
    }

    #products ul {
        display: grid;
    }

    #products {
        margin-top: -110px;
        margin-left: 10px;
    }

    #products p, h3 {
        width: 300%;
        text-align: left;
    }

    button {
        width: 150px;
    }
}